@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto',
        sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2C2C2E;
}

.cirkel {
    background-color: #E5D1EA;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: auto;
    margin-top: Calc(50vh - 250px);
}

h1 {
    color: #B2065C;
    padding-top: 5%;
    text-align: center;
    font-size: 64px;
}

h2 {
    color: #B2065C;
    padding-top: 30%;
    text-align: center;
    font-size: 36px;

}

.foto {
    width: 100%;
    position: absolute;
    top: 0%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, 0%);
}

.taart {
    position: relative;
    transform: translate(-50%, -40%);
}
